<table class="table table-striped">
  <tbody>
  <ng-container *ngFor="let score of gamesScores"> <!-- TODO see if ng-container is ok here-->
    <tr>
      <td><img [src]="score.homeTeamLogo" alt="Team logo" class="img-fluid" style="width:20px;height:20px;"/></td> <!-- TODO see if style should be in styles file-->
      <td>{{score.homeTeam}}</td>
      <td>{{score.homeTeamGoals}}</td>
      <td>{{score.awayTeamGoals}}</td>
      <td>{{score.awayTeam}}</td>
      <td><img [src]="score.awayTeamLogo" alt="Team logo" class="img-fluid" style="width:20px;height:20px;"/></td> <!-- TODO see if style should be in styles file-->
    </tr>
  </ng-container>
  </tbody>
</table>

<button type="button" class="btn btn-secondary" (click)="onBackButtonClick()"><< Back</button>
